.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'thick';
  font-size: 3rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-2 {
  font-family: 'thick';
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'thin';
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'thin';
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.1rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #232323 !important;
}
.bg-success {
  background-color: #ab65f1 !important;
}
.bg-info {
  background-color: #ab65f1 !important;
}
.bg-warning {
  background-color: #ab65f1 !important;
}
.bg-danger {
  background-color: #ab65f1 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #6813be !important;
  border-color: #6813be !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #3d0b6f !important;
  border-color: #3d0b6f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #3d0b6f !important;
  border-color: #3d0b6f !important;
}
.btn-info,
.btn-info:active {
  background-color: #ab65f1 !important;
  border-color: #ab65f1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #8016ea !important;
  border-color: #8016ea !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #8016ea !important;
  border-color: #8016ea !important;
}
.btn-success,
.btn-success:active {
  background-color: #ab65f1 !important;
  border-color: #ab65f1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #8016ea !important;
  border-color: #8016ea !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #8016ea !important;
  border-color: #8016ea !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ab65f1 !important;
  border-color: #ab65f1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #8016ea !important;
  border-color: #8016ea !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #8016ea !important;
  border-color: #8016ea !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ab65f1 !important;
  border-color: #ab65f1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8016ea !important;
  border-color: #8016ea !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8016ea !important;
  border-color: #8016ea !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #6813be;
  color: #6813be;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #3d0b6f !important;
  background-color: transparent!important;
  border-color: #3d0b6f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #6813be !important;
  border-color: #6813be !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #ab65f1;
  color: #ab65f1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #8016ea !important;
  background-color: transparent!important;
  border-color: #8016ea !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ab65f1 !important;
  border-color: #ab65f1 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #ab65f1;
  color: #ab65f1;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #8016ea !important;
  background-color: transparent!important;
  border-color: #8016ea !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ab65f1 !important;
  border-color: #ab65f1 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ab65f1;
  color: #ab65f1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #8016ea !important;
  background-color: transparent!important;
  border-color: #8016ea !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ab65f1 !important;
  border-color: #ab65f1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ab65f1;
  color: #ab65f1;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #8016ea !important;
  background-color: transparent!important;
  border-color: #8016ea !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ab65f1 !important;
  border-color: #ab65f1 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #232323 !important;
}
.text-secondary {
  color: #6813be !important;
}
.text-success {
  color: #ab65f1 !important;
}
.text-info {
  color: #ab65f1 !important;
}
.text-warning {
  color: #ab65f1 !important;
}
.text-danger {
  color: #ab65f1 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #350a61 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #7814dc !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #7814dc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #7814dc !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #7814dc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #232323;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ab65f1;
}
.alert-warning {
  background-color: #ab65f1;
}
.alert-danger {
  background-color: #ab65f1;
}
.mbr-gallery-filter li.active .btn {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #232323;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #232323 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #232323;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #232323;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #232323;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #232323 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #6813be !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23232323' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sAC0u5VM9p {
  background-color: #0e0e0e;
}
@media (max-width: 991px) {
  .cid-sAC0u5VM9p .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sAC0u5VM9p .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-sAC0u5VM9p .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .cid-sAC0u5VM9p .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sAC0u5VM9p .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-sAC0u5VM9p .mbr-text,
.cid-sAC0u5VM9p .mbr-section-btn {
  color: #bbbbbb;
  text-align: center;
}
.cid-sL5nw83Ucq {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sL5nw83Ucq .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-sL5nw83Ucq .container {
    max-width: 1400px;
  }
}
.cid-sL5nw83Ucq .card {
  margin: auto;
}
.cid-sL5nw83Ucq .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #0e0e0e;
  margin-bottom: 2rem;
}
.cid-sL5nw83Ucq .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sL5nw83Ucq .row {
  justify-content: center;
}
.cid-sAC6CvR5oo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-sAC6CvR5oo .content-wrapper {
  background: #000000;
}
@media (max-width: 991px) {
  .cid-sAC6CvR5oo .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sAC6CvR5oo .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sAC6CvR5oo .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sAC6CvR5oo .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sAC6CvR5oo .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sAC6CvR5oo .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sAC6CvR5oo .card-title {
  color: #ffffff;
  text-align: left;
}
.cid-sAC6CvR5oo .mbr-text,
.cid-sAC6CvR5oo .mbr-section-btn {
  color: #bbbbbb;
  text-align: left;
}
.cid-sAC9W6VRW3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #0e0e0e;
}
.cid-sAC9W6VRW3 .content-wrapper {
  background: #0e0e0e;
}
@media (max-width: 991px) {
  .cid-sAC9W6VRW3 .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sAC9W6VRW3 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sAC9W6VRW3 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sAC9W6VRW3 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sAC9W6VRW3 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sAC9W6VRW3 .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sAC9W6VRW3 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sAC9W6VRW3 .card-title {
  color: #ffffff;
  text-align: left;
}
.cid-sAC9W6VRW3 .mbr-text,
.cid-sAC9W6VRW3 .mbr-section-btn {
  text-align: left;
  color: #bbbbbb;
}
.cid-sACbOl3JEC {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-sACbOl3JEC .content-wrapper {
  background: #000000;
}
@media (max-width: 991px) {
  .cid-sACbOl3JEC .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sACbOl3JEC .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sACbOl3JEC .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sACbOl3JEC .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sACbOl3JEC .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sACbOl3JEC .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sACbOl3JEC .card-title {
  color: #ffffff;
}
.cid-sACbOl3JEC .mbr-text,
.cid-sACbOl3JEC .mbr-section-btn {
  color: #bbbbbb;
}
.cid-sB3wKvnC7k {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #0e0e0e;
}
.cid-sB3wKvnC7k .content-wrapper {
  background: #0e0e0e;
}
@media (max-width: 991px) {
  .cid-sB3wKvnC7k .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sB3wKvnC7k .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sB3wKvnC7k .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sB3wKvnC7k .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sB3wKvnC7k .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sB3wKvnC7k .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sB3wKvnC7k .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sB3wKvnC7k .card-title {
  color: #ffffff;
}
.cid-sB3wKvnC7k .mbr-text,
.cid-sB3wKvnC7k .mbr-section-btn {
  text-align: left;
  color: #bbbbbb;
}
.cid-sC64K251Kt {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-sC64K251Kt .content-wrapper {
  background: #000000;
}
@media (max-width: 991px) {
  .cid-sC64K251Kt .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sC64K251Kt .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sC64K251Kt .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sC64K251Kt .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sC64K251Kt .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sC64K251Kt .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sC64K251Kt .card-title {
  color: #ffffff;
}
.cid-sC64K251Kt .mbr-text,
.cid-sC64K251Kt .mbr-section-btn {
  color: #bbbbbb;
}
.cid-sL5im3u6Bb {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #0e0e0e;
}
.cid-sL5im3u6Bb .content-wrapper {
  background: #0e0e0e;
}
@media (max-width: 991px) {
  .cid-sL5im3u6Bb .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sL5im3u6Bb .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sL5im3u6Bb .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sL5im3u6Bb .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sL5im3u6Bb .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sL5im3u6Bb .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sL5im3u6Bb .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sL5im3u6Bb .card-title {
  color: #ffffff;
}
.cid-sL5im3u6Bb .mbr-text,
.cid-sL5im3u6Bb .mbr-section-btn {
  text-align: left;
  color: #bbbbbb;
}
.cid-sL5iHzIk80 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-sL5iHzIk80 .content-wrapper {
  background: #000000;
}
@media (max-width: 991px) {
  .cid-sL5iHzIk80 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sL5iHzIk80 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sL5iHzIk80 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sL5iHzIk80 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sL5iHzIk80 .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sL5iHzIk80 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sL5iHzIk80 .card-title {
  color: #ffffff;
}
.cid-sL5iHzIk80 .mbr-text,
.cid-sL5iHzIk80 .mbr-section-btn {
  color: #bbbbbb;
}
.cid-sACdIHChdD {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sACdIHChdD .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sACdIHChdD .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sACdIHChdD .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #232323;
}
.cid-sACdIHChdD .panel-body,
.cid-sACdIHChdD .card-header {
  padding: 1rem 0;
}
.cid-sACdIHChdD .panel-title-edit {
  color: #000000;
}
.cid-sACdIHChdD H3 {
  color: #232323;
}
.cid-sACjgMPKrg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
